
<div class="container">
  <div class="row">
    <h2>All Schedules</h2>
    <div class="column">
      <table class="table">
        <tbody>
          <% @schedules.each do |s| %>
            <tr>
              <%= s.id %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
