
<div class="edit-container" style="margin-top: 50px; margin-left: 100px;">
  <h3>Create a New Schedule!</h3>
  <%= form_for @schedule, :url => schedules_path do |s| %>
      <div class="form-group">
        <%= s.label :name, 'Name of Schedule: ' %>
        <%= s.text_field :name, :autofocus => true, class: 'form-control' %>
      </div>
      <%= s.submit 'Submit', :class => 'button right' %>
  <% end %>
</div>
