
<div class="container" style="margin-bottom: 50px;">
  <div class="row">
  <div style="margin-top: 50px; margin-bottom: 20px;"> <img src="http://placehold.it/150x150"> </div>
  <h1>Student</h1>
  <p style="font-size: 16px;">Email: <%= @student.email if @student.email %></p>

  <br> <br>

  <div style="display: inline-block; margin-right: 5px;"><%= button_to "Add New Schedule", schedule_new_path, :class => "button medium", :method => :get %></div>
  <div style="display: inline-block;"><%= button_to "View All Schedules", schedule_index_path, :class => "button medium", :method => :get %></div>
</div>
</div>
