
<div style="text-align: left; margin-top: 50px; margin-left: 100px;">
  <h1>Student</h1>
  <p style="font-size: 16px;">Email: <%= @student.email if @student.email %></p>
  <div style="margin-bottom: 50px;"> <img src="http://placehold.it/150x150"> <br></div>
  <%= button_to "Add New Schedule", schedule_new_path, :class => "button medium", :method => :get %>
  <%= button_to "View Schedules", schedule_index_path, :class => "button medium", :method => :get %>
</div>
