<div class="container">
  <div class="row">
    <h2>Browse by Department</h2>
    <div class="column">
      <table class="table">
        <tbody>
          <% @courses.each do |c| %>
            <tr>
              <%= link_to c.subject, course_department_path(subject: c.subject) %> <br>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
