<h1> Log into your account </h1>
<p> What are you logging in as? <br>
  <%= button_to "Admin", new_admin_session_path, :class => "button medium", :method => :get %>
  <%= button_to "Student", new_student_session_path, :class => "button medium", :method => :get %>
</p>
