<h1> Sign up for a new account </h1>
<p> What are you signing up as? <br>
  <%= button_to "Admin", new_admin_registration_path, :class => "button medium", :method => :get %>
  <%= button_to "Student", new_student_registration_path, :class => "button medium", :method => :get %>
</p>
